@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600&display=swap');

:root {
    --font-color: hsl(200, 15%, 8%);
    --elements-color: hsl(0, 0%, 100%);
    --backround-color: hsl(0, 0%, 98%);
    --dark-gray: hsl(0, 0%, 52%);
}

.dark-mode {
    --font-color: hsl(0, 0%, 100%);
    --elements-color: hsl(209, 23%, 22%);
    --background-color: hsl(207, 26%, 17%);
    --dark-gray: hsl(0, 0%, 52%);
}

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: var(--background-color);
    color: var(--font-color);
}

button,
input,
select {
    color: inherit;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--elements-color);
    padding: 2rem 4rem;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    cursor: default;
    font-weight: 600;
    font-size: 2.2rem;
}

.toggle-dark-mode {
    cursor: pointer;
    padding: 1rem;
    background-color: inherit;
    border: none;
}

.toggle-dark-mode i {
    margin-right: 0.8rem;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 4rem;
}

.input-area {
    cursor: text;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--elements-color);
    border-radius: 5px;
    padding: 1.5rem 2rem;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    width: 30rem;
}

.search-input {
    background-color: inherit;
    border: none;
    outline: none;
    flex-grow: 1;
}

.search-input:active .input-area {
    transform: translateY(-3px);
}

.input-area i {
    margin-right: 1.5rem;
}

.filter-input {
    cursor: pointer;
    background-color: var(--elements-color);
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 1.5rem 2rem;
    outline: none;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 4rem 4rem 4rem;
}

.card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    background-color: var(--elements-color);
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    height: 34rem;
    width: 22rem;
    overflow: hidden;
    transition: transform .3s ease-in;
    margin: 3rem;
}

.card:hover {
    transform: scale(1.05);
}

.card-top-part {
    height: 14rem;
}

.card-top-part img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.card-bottom-part {
    padding: 1rem 1rem 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.card-title {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 1.2rem;
}

.card-bottom-part p {
    font-size: 1.2rem;
    font-weight: 600;
}

.card-bottom-part em {
    font-weight: 300;
    font-style: normal;
}

.error-header {
    font-size: 2.2rem;
    color: #d90429;
    font-weight: 600;
    margin-bottom: 1rem;
    margin-top: 4rem;
}

.error {
    font-size: 1.8rem;
}

/* Modal ///////////////////////////////////////////////////////////////////////////////////////*/

.modal-overflow {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--elements-color);
    border-radius: 5px;
    padding: 2rem;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 1000px;
    max-width: 90%;
    height: 70%;

    font-size: 1.4rem;
    color: var(--font-color);
}

.close-modal-btn {
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: 1rem;
    padding: 0.5rem;
    background-color: inherit;
    border: none;
    outline: none;
    font-size: 2.4rem;
}

.modal-left-side {
    width: 40%;
    padding: 2rem;
    justify-self: flex-end;
}

.modal-photo {
    max-width: 100%;
    border-radius: 5px;
    text-align: center;
}

.modal-right-side {
    width: 60%;
    padding: 2rem;
    margin-left: 2rem;
}

.modal-country-name {
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.modal-info {
    display: flex;
    flex-wrap: wrap;
}

.modal-info p {
    width: 45%;
    font-weight: bold;
    margin-bottom: 1rem;
}

.modal-data {
    font-weight: normal;
    font-style: normal;
}

.modal-border-countries {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.modal-border-countries p {
    margin-right: 1.5rem;
}

.border-country {
    cursor: pointer;
    margin: 0.5rem;
    padding: 0.5rem 1.5rem;
    background-color: var(--background-color);
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    transition: all .2s ease-in-out;
}

.border-country:hover {
    transform: translateY(-3px);
}

.hidden {
    display: none;
}